<phpunit backupGlobals="false">
    <testsuites>
        <testsuite name="API Integration Test">
            <directory>test</directory>
        </testsuite>

    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory suffix=".php">test</directory>
            <directory suffix=".php">vendor</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
</phpunit>
